@model MovieHunt.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<ul>
   <li>Movie: @Model.Name</li>
   <li>Genre: @Model.Genre.Name</li>
   
</ul>