@using MovieHunt.Models
@model IEnumerable<MovieHunt.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><button type="submit" class="btn btn-primary">New Movie</button></h2>

<table class="table table-condensed">

    <thead>
        <tr class="success">
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name, "Details", "Movie", new { id = movie.Id }, null)
                </td>
                <td>
                    @movie.Genre.Name
                </td>
            </tr>
        }
    </tbody>
</table>


