@model MovieHunt.Models.Customer
@{
                
     ViewBag.Title = "Details";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<ul>
    <li>Customer Name: @Model.Name</li>
    <li>Membeship Type: @Model.MembershipType.MembershipTypeName</li>
    @if (@Model.BirthDate.HasValue)
    {
        <li>Bitrh date: @Model.BirthDate</li>
    }
   
</ul>

